<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSSliderView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A21675A1F0DE3BE003A67F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A2167731F0DE3C2003A67F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A21677E1F0DE3C3003A67F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
